*{
    box-sizing: border-box;
    
   
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: 	#c9e4e7;
    
       
}

.content-box{
margin: 0 auto;
max-width: 1400px;
}