@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@300&display=swap');

body {
    font-family: font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: 	#c9e4e7;
}

header{
    background-color: #6E7E85;
}


.icons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 5px;
    padding: 10px;
       
}


.iconsize{
    transition: transform .2s;
}

.iconsize:hover{
    transform: scale(1.2);
}

.shake-effect{
    transition: transform .2s;
}


@keyframes shake {
    0% {
        transform: rotate(0deg)
    }
    10% {
        transform: rotate(3deg)
    }
    20% {
        transform: rotate(0deg)
    }
    30% {
        transform: rotate(6deg)
    }
    40% {
        transform: rotate(-3deg)
    }
    50% {
        transform: rotate(0deg)
    }
    60% {
        transform: rotate(3deg)
    }
    70% {
        transform: rotate(0deg)
    }
    80% {
        transform: rotate(6deg)
    }
    90% {
        transform: rotate(-3deg)
    }
    100% {
        transform: rotate(0deg)
    }
}


.shake-effect:focus, .shake-effect:hover{
    animation-name: shake;
    animation-duration: 1s;
    transform-origin: 50% 50%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 50px;
    background-color: white;
    border-radius: 2px;

}

.name{
    font-size: 30px;
    font-weight: bold;
    padding-top: 25px;
    padding-left: 100px;
}

.kurz{
    padding-left: 10px;
    border-radius: 2px;
    border: 1px white;
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
}

img {
    border-radius: 2px;
    max-width: 200px;
    

    } 

h1 {
        color:black;         
        text-align: left;
    }

h2 {
        text-align: left;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    flex-wrap: wrap;

}

.nav__link {
    
    border-radius: 15px;
    color: white;
    background-color: none;
    text-decoration: none;
    padding: 5px;
    transition: transform .2s;
    
}

.nav__link:hover{
    transform: scale(1.2);
}



#Skills{
   border-radius: ;
   background-color:;
   height: auto;
}

#About{
    
    height: auto;
    background-color: ;
    border-radius: 3px;
    
}

#html5-logo{
    width:  50px;
    height: 50px;
}

#css-logo{
    width: 50px;
    height: 50px;
}

#javascript-logo{
    width: 50px;
    height: 50px;
}

footer {
    
}