@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@300&display=swap');

body {
    font-family: font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    background-color: 	#c9e4e7;
}

.myButton {
	box-shadow:inset 1px 1px 0px 0px #ffffff;
	background-color:transparent;
	border-radius:2px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:12px;
	padding: 7px 8px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
    
}
.myButton:hover {
	background-color:transparent;
}
.myButton:active {
	position:relative;
	top:2px;
}


.profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 50px;
    background-color: white;
    border-radius: 2px;

}

.name{
    font-size: 30px;
    font-weight: bold;
    padding-top: 25px;
    padding-left: 100px;
}

.kurz{
    padding-left: 10px;
    border-radius: 2px;
    border: 1px gray;
    box-shadow: -14px -10px 13px 0px rgba(0,0,0,0.4);
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
}

img {
    border-radius: 2px;
    max-width: 200px;

    } 

h1 {
        color:black;         
        text-align: left;
    }

h2 {
        text-align: left;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    flex-wrap: wrap;

}

.nav__link {
    
    border-radius: 15px;
    color: black;
    background-color: none;
    text-decoration: none;
    padding: 5px;
    
}

#header-img{
    
}



#Skills{
   border-radius: ;
   background-color:;
   height: auto;
}

#About{
    
    height: auto;
    background-color: ;
    border-radius: 3px;
    
}

#html5-logo{
    width:  50px;
    height: 50px;
}

#css-logo{
    width: 50px;
    height: 50px;
}

#javascript-logo{
    width: 50px;
    height: 50px;
}

footer {
    
}