form {
    background-color:
    width: 370px; /* Breite des Formulars */
    padding: 20px;
    text-align: center;
    
  }
  label { /* Beschriftung auf eigener Zeile */
    display: block;
    cursor: pointer; /* Mauszeiger wird zur Hand */
  }
  input#absender,
  textarea {
    width: 300px;
    border: none;
    margin-bottom: 1em;
  }
  textarea {
    height: 7em;
  }
  input:focus,
  textarea:focus {
    background-color: #f90707;
  }