.shake-effect{
    transition: transform .2s;
}


@keyframes shake {
    0% {
        transform: rotate(0deg)
    }
    10% {
        transform: rotate(3deg)
    }
    20% {
        transform: rotate(0deg)
    }
    30% {
        transform: rotate(6deg)
    }
    40% {
        transform: rotate(-3deg)
    }
    50% {
        transform: rotate(0deg)
    }
    60% {
        transform: rotate(3deg)
    }
    70% {
        transform: rotate(0deg)
    }
    80% {
        transform: rotate(6deg)
    }
    90% {
        transform: rotate(-3deg)
    }
    100% {
        transform: rotate(0deg)
    }
}


.shake-effect:focus, .shake-effect:hover{
    animation-name: shake;
    animation-duration: 1s;
    transform-origin: 50% 50%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 50px;
    background-color: white;
    border-radius: 2px;
    border: 2px solid white;

}

.name{
    font-size: 30px;
    font-weight: bold;
    padding-top: 50px;
    padding-left: 50px;
    font-family: Montserrat;
    
}

.kurz{
    padding-left: 10px;
    border-radius: 2px;
    border: 2px solid white;
    display: flex;
    justify-content: space-between;
    background-color: #6E7E85;
}


.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    flex-wrap: wrap;

}

.nav__link {
    
    
    color: white;
    background-color: none;
    text-decoration: none;
    padding: 5px;
    transition: transform .2s;
    
}

.nav__link:hover{
    transform: scale(1.2);
}
